$grass: #27ae60;
$sea: #0984e3;
$river: #74b9ff;
$pavement: #778ca3;
$dimensions: 50px;

.map-tile {
    width: $dimensions;
    min-width: $dimensions;
    height: $dimensions;
    min-height: $dimensions;
    display: table-cell;
}

.map-tile.sea {
    background-color: $sea;
}

.map-tile.grass {
    background-color: $grass;
}

.map-tile.trees {
    background-color: #218c74;
    border: $dimensions / 10 solid $grass;
}

.map-tile.mountains {
    background-color: #cc8e35;
    border: $dimensions / 10 solid $grass;
}

.map-tile.road {
    background-color: $pavement;
}

.map-tile.bridge {
    background-color: $pavement;
    border: $dimensions / 10 solid $river;
}

.map-tile.building, .map-tile.factory, .map-tile.HQ {
    background-color: white;
    border: $dimensions / 10 solid $grass;
}