$grass: #27ae60;
$sea: #0984e3;
$river: #74b9ff;
$pavement: #778ca3;

$dimensions: 50px;
$padding: $dimensions / 10;

.map-tile {
    width: $dimensions;
    min-width: $dimensions;
    height: $dimensions;
    min-height: $dimensions;
    display: table-cell;
    background-color: $grass;
    padding: $padding;
    position: relative;

    .contents {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.map-tile.extend-left {

    .contents:after {
        content: "";
        position: absolute;
        width: $padding;
        height: $dimensions - 2 * $padding;
        left: -$padding;
        background-color: inherit;
    }
}

.map-tile.extend-right {

    .contents:before {
        content: "";
        position: absolute;
        width: $padding;
        height: $dimensions - 2 * $padding;
        right: -$padding;
        background-color: inherit;
    }
}

.map-tile.extend-above:before {
    content: "";
    position: absolute;
    height: $padding;
    width: $dimensions - 2 * $padding;
    top:0;
    background-color: $pavement;
}

.map-tile.extend-below:after {
    content: "";
    position: absolute;
    height: $padding;
    width: $dimensions - 2 * $padding;
    bottom: 0;
    background-color: $pavement;
}

.map-tile.sea {
    background-color: $sea;
}

.map-tile.trees {

    .contents {
        background-color: #218c74;
        clip-path: polygon(0 100%, 25% 0, 50% 100%, 75% 0, 100% 100%);
    }
}

.map-tile.mountains {
    .contents {
        background-color: #cc8e35;
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
}

.map-tile.road {
    .contents {
        background-color: $pavement;
    }
    
}

.map-tile.bridge {
    background-color: $sea;

    .contents {
        background-color: $pavement;
    }
}

.map-tile.building, .map-tile.factory, .map-tile.HQ {
    .contents {
        background-color: white;
    }
}

.map-tile.HQ {
    .contents {
        border-radius: 5px;
    }
}

.map-tile.map-tile.building {
    .contents {
        border-radius: 10px;
    }
}

.map-tile.map-tile.map-tile.factory {
    .contents {
        border-radius: 15px;
    }
}